<article class="basketContainer grid h-full grid-cols-1 grid-rows-[auto_1fr_auto] bg-gray-50 pb-4">
  <div class="flex w-full items-center justify-between p-2 text-xl font-bold">
    <span>Basket</span>
    <button
      class="transition-al flex cursor-pointer items-center justify-center rounded-full border border-gray-600 p-2 text-gray-600 duration-200 ease-in-out hover:border-warning hover:text-warning"
      (click)="basketService.clearBasket()"
    >
      <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <!--Boxicons v3.0.6 https://boxicons.com | License  https://docs.boxicons.com/free-->
        <path
          d="M17 6V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H2v2h2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8h2V6zM9 4h6v2H9zM6 20V8h12v12z"
        ></path>
        <path d="M9 10h2v8H9zM13 10h2v8h-2z"></path>
      </svg>
    </button>
  </div>
  <div class="h-full overflow-y-auto transition-all duration-250 ease-in-out">
    <ul class="grid grid-flow-row gap-y-1 px-1 py-2">
      @for (item of basketItems(); track item.id) {
        <li class="custom-css-content-line-left overflow-hidden rounded-md border border-gray-600 p-2">
          <app-basket-item [item]="item" />
        </li>
      }
    </ul>
  </div>
  @if (basketItems().length > 0) {
    <div
      class="grid-rows-auto grid grid-cols-1 gap-2 border-t border-text-blue/25 p-2 transition-all duration-250 ease-in-out"
    >
      <p class="flex flex-row justify-between">
        <span>Balance after purchase</span>
        <span
          class="italic"
          [ngClass]="{
            'text-prime-red': user().balance - totalPrice() < 0,
            'text-prime-green': user().balance - totalPrice() >= 0,
          }"
          >{{ user().balance - totalPrice() }}&nbsp;,-</span
        >
      </p>
      <p class="flex flex-row justify-between text-xl font-bold text-prime-orange">
        <span>Subtotal</span><span>{{ totalPrice() }}&nbsp;,-</span>
      </p>
    </div>
  }
</article>
