/*
 *  Scrollbar styles as showned by Carli Botes in codepen https://codepen.io/CarliBotes/pen/xewRZY
 */

*::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #ffffff;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 0;
	background-color: #000000;
}
