<div #wrapper class="flex h-full w-full overflow-auto overscroll-none">
  <table class="h-full w-full border-separate border-spacing-0">
    <thead
      class="sticky top-0 z-2 w-full text-left outline-2 outline-prime-white [&_th]:text-xl [&_th]:sticky [&_th]:top-0 [&_th]:border [&_th]:border-prime-white/50 [&_th]:pt-2 [&_th]:pr-6 [&_th]:pb-1 [&_th]:pl-2 [&_th]:uppercase [&_th]:first:rounded-tl-2xl [&_th]:first:pl-4 [&_th]:last:rounded-tr-2xl [&_th]:last:pr-4"
    >
      <ng-container *ngTemplateOutlet="headerTemplate()"></ng-container>
    </thead>
    <tbody
      class="[&_td]:border [&_td]:border-prime-white/50 [&_td]:py-3 [&_td]:pr-6 [&_td]:pl-2 [&_td]:text-xl [&_td]:first:pl-4 [&_td]:last:border-b [&_td]:last:pr-4 [&_tr]:transition-all [&_tr]:duration-150 [&_tr]:ease-linear [&_tr]:not-first:border-t [&_tr]:odd:bg-prime-white/10 [&_tr]:even:bg-transparent [&_tr:hover]:bg-prime-white/30 [&_tr:last-child_td:first-child]:rounded-bl-2xl [&_tr:last-child_td:last-child]:rounded-br-2xl"
    >
      @for (row of optionsWithTrackBy(); let i = $index; track row.trackByValue) {
        <ng-container *ngTemplateOutlet="rowTemplate(); context: { $implicit: row, index: i }">
        </ng-container>
      } @empty {
        <!-- If no data, and noDataTemplate is provided, show the noDataTemplate -->
        @if (noDataTemplate()) {
          <tr>
            <td colspan="100%">
              <ng-container *ngTemplateOutlet="noDataTemplate()"></ng-container>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
