<dialog
  #dialogEl
  class="m-0 flex h-full max-h-none w-full max-w-none items-start justify-center bg-transparent p-0 pt-23 border-none outline-none"
  (cancel)="onCancel($event)"
>
  <div
    class="modal-grid max-h-[80dvh] w-full max-w-3/5 overflow-hidden rounded-xl px-6 py-6 shadow-lg"
    [ngClass]="{
      'w-3/4': useFullWidth(),
    }"
    [ngClass]="{
      'bg-white text-text-on-light': theme() === 'light',
      'bg-surface-overlay text-text-primary': theme() === 'dark',
    }"
  >
    <header>
      <div class="grid grid-cols-[auto_1fr_auto] gap-x-2">
        <div class="flex items-center gap-x-2">
          @if (icon()) {
            <i>
              <ng-content select="[dialogIcon]"></ng-content>
            </i>
          }
          <p class="font-heading text-2xl font-semibold">{{ dialogTitle() }}</p>
        </div>
        <div class="w-full self-center">
          <ng-content select="[headerAction]"></ng-content>
        </div>
        <button class="cursor-pointer self-start" (click)="onHandleClose()">
          <i>
            <svg
              fill="currentColor"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
              <path
                d="m7.76 14.83-2.83 2.83 1.41 1.41 2.83-2.83 2.12-2.12.71-.71.71.71 1.41 1.42 3.54 3.53 1.41-1.41-3.53-3.54-1.42-1.41-.71-.71 5.66-5.66-1.41-1.41L12 10.59 6.34 4.93 4.93 6.34 10.59 12l-.71.71z"
              ></path>
            </svg>
          </i>
        </button>
      </div>
    </header>
    <main class="overflow-y-auto pt-4">
      <ng-content></ng-content>
    </main>
  </div>
</dialog>
