<section class="flex w-full flex-row gap-4 overflow-x-auto px-4 py-2">
  @for (category of currentStockFilter(); track category) {
    <app-filter-bar-button
      [currentFilter]="currentFilter()"
      [itemCategory]="category"
      (filterChange)="onFilterChange($event)"
    ></app-filter-bar-button>
  }
  <app-filter-bar-button
    [currentFilter]="currentFilter()"
    (filterChange)="onFilterChange($event)"
    itemCategory="search"
  />
  <div
    class="transition-all duration-300 ease-in-out"
    [ngClass]="{
      'max-w-xs opacity-100': currentFilter() !== 'all',
      'max-w-0 overflow-hidden opacity-0': currentFilter() === 'all',
    }"
  >
    <app-filter-bar-button
      [currentFilter]="currentFilter()"
      (filterChange)="onFilterChange($event)"
      itemCategory="all"
    />
  </div>
</section>
