@switch (variant()) {
  @case ('solid') {
    <button
      class="grid w-full grid-cols-1 grid-rows-1 items-center justify-items-center rounded-base nb-border font-base leading-4"
      [ngClass]="{
        'bg-main text-main-foreground opacity-50 shadow-none pointer-events-none': loading() || isDisabled(),
        'bg-main text-main-foreground nb-press': !loading() && !isDisabled(),
        'h-10 px-4': size() === 'medium',
        'h-9 px-3': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      <span
        class="col-start-1 row-start-1"
        [ngClass]="{
          'opacity-0': loading(),
          'opacity-100': !loading(),
          'text-nowrap': textNoWrap(),
        }"
      >
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      </span>
      @if (loading()) {
        <div class="loader-on-dark-bg col-start-1 row-start-1"></div>
      }
    </button>
  }

  @case ('subtle') {
    <button
      class="w-full rounded-base nb-border font-base leading-4 text-foreground"
      [ngClass]="{
        'bg-nb-yellow opacity-50 shadow-none pointer-events-none': loading() || isDisabled(),
        'bg-nb-yellow nb-press': !loading() && !isDisabled(),
        'h-10 px-4': size() === 'medium',
        'h-9 px-3': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (loading()) {
        <div class="loader-on-dark-bg"></div>
      } @else {
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      }
    </button>
  }
  @case ('subtle-dark') {
    <button
      class="grid w-full grid-cols-1 grid-rows-1 items-center justify-items-center rounded-base nb-border font-base leading-4 text-foreground"
      [ngClass]="{
        'bg-secondary-background opacity-50 shadow-none pointer-events-none': loading() || isDisabled(),
        'bg-secondary-background nb-press': !loading() && !isDisabled(),
        'h-10 px-4': size() === 'medium',
        'h-9 px-3': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      <span
        class="col-start-1 row-start-1"
        [ngClass]="{
          'opacity-0': loading(),
          'opacity-100': !loading(),
        }"
      >
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      </span>
      @if (loading()) {
        <div class="loader-on-dark-bg col-start-1 row-start-1"></div>
      }
    </button>
  }

  @case ('danger') {
    <button
      class="w-full rounded-base nb-border font-base leading-4 text-foreground"
      [ngClass]="{
        'bg-error opacity-50 shadow-none pointer-events-none': loading() || isDisabled(),
        'bg-error nb-press': !loading() && !isDisabled(),
        'h-10 px-4': size() === 'medium',
        'h-9 px-3': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (loading()) {
        <div class="loader-on-light-bg col-start-1 row-start-1"></div>
      } @else {
        {{ label() | uppercase }}
      }
    </button>
  }

  @case ('text') {
    <button
      class="grid grid-flow-col items-center gap-x-1 font-base leading-4 text-foreground underline-offset-4 hover:text-main hover:underline"
      [ngClass]="{
        'p-3': size() === 'medium',
        'p-2': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (icon()) {
        <i class="text-xs">
          <ng-content select="[buttonIcon]"></ng-content>
        </i>
      }

      @if (label()) {
        <span>
          {{ label() }}
        </span>
      }
    </button>
  }
  @case ('menu-text') {
    <button
      class="grid grid-flow-col items-center gap-x-1 font-base leading-4 text-foreground underline-offset-4 hover:text-main hover:underline"
      [ngClass]="{
        'p-3 text-xl': size() === 'medium',
        'p-2 text-2xl': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (icon()) {
        <i
          [ngClass]="{
            'text-2xl': size() === 'medium',
            'text-xl': size() === 'small',
          }"
        >
          <ng-content select="[buttonIcon]"></ng-content>
        </i>
      }

      @if (label()) {
        <span
          [ngClass]="{
            'text-2xl': size() === 'medium',
            'text-xl': size() === 'small',
          }"
        >
          {{ label() }}
        </span>
      }
    </button>
  }
}
