@switch (variant()) {
  @case ('solid') {
    <button
      class="grid w-full grid-cols-1 grid-rows-1 rounded-full border leading-4 text-white transition-all"
      [ngClass]="{
        'justify-items-center border-gray-400 bg-gray-400': loading() || isDisabled(),
        'border-prime-green bg-prime-green2 hover:brightness-110': !loading() && !isDisabled(),
        'p-3 text-sm': size() === 'medium',
        'p-2 text-xs': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      <span
        class="col-start-1 row-start-1"
        [ngClass]="{
          'opacity-0': loading(),
          'opacity-100': !loading(),
        }"
      >
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      </span>
      @if (loading()) {
        <div class="loader col-start-1 row-start-1"></div>
      }
    </button>
  }

  @case ('subtle') {
    <button
      class="border-gray w-full rounded-full border leading-4 text-gray-900 transition-all"
      [ngClass]="{
        'bg-gray-400': loading() || isDisabled(),
        'bg-gray-300 hover:bg-gray-200': !loading() && !isDisabled(),
        'p-3 text-sm': size() === 'medium',
        'p-2 text-xs': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (loading()) {
        <div class="loader"></div>
      } @else {
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      }
    </button>
  }

  @case ('subtle-dark') {
    <button
      class="grid w-full grid-cols-1 grid-rows-1 rounded-full border leading-4 text-white transition-all"
      [ngClass]="{
        'bg-bg-dark': loading() || isDisabled(),
        'border-gray-darkish bg-gray-dark hover:bg-transparent': !loading() && !isDisabled(),
        'p-3 text-sm': size() === 'medium',
        'p-2 text-xs': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      <span
        class="col-start-1 row-start-1"
        [ngClass]="{
          'opacity-0': loading(),
          'opacity-100': !loading(),
        }"
      >
        @if (icon()) {
          <i class="text-xs">
            <ng-content select="[buttonIcon]"></ng-content>
          </i>
        }

        {{ label() | uppercase }}
      </span>
      @if (loading()) {
        <div class="loader col-start-1 row-start-1"></div>
      }
    </button>
  }

  @case ('danger') {
    <button
      class="text-gray-dark w-full rounded-full border leading-4 transition-all"
      [ngClass]="{
        'border-gray bg-warning/90 hover:brightness-100': loading() || isDisabled(),
        'border-gray-dark bg-warning': !loading() && !isDisabled(),
        'p-3 text-sm': size() === 'medium',
        'p-2 text-xs': size() === 'small',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (loading()) {
        <div class="loader col-start-1 row-start-1"></div>
      } @else {
        {{ label() | uppercase }}
      }
    </button>
  }

  @case ('text') {
    <button
      class="grid grid-flow-col items-center gap-x-1 leading-4 text-prime-orange2 hover:text-prime-orange"
      [ngClass]="{
        'p-3': size() === 'medium',
        'p-2': size() === 'small',
        'hover:text-black': textVariant() === 'primary',
        'hover:text-white': textVariant() === 'light',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (icon()) {
        <i class="text-xs">
          <ng-content select="[buttonIcon]"></ng-content>
        </i>
      }

      @if (label()) {
        <span>
          {{ label() }}
        </span>
      }
    </button>
  }
  @case ('menu-text') {
    <button
      class="grid grid-flow-col items-center gap-x-1 leading-4 text-primary"
      [ngClass]="{
        'p-3 text-xl': size() === 'medium',
        'p-2 text-2xl': size() === 'small',
        'hover:text-black': textVariant() === 'primary',
        'hover:text-white': textVariant() === 'light',
      }"
      [disabled]="loading() || isDisabled()"
      [type]="type()"
      (click)="onClick($event)"
    >
      @if (icon()) {
        <i
          [ngClass]="{
            'text-2xl': size() === 'medium',
            'text-xl': size() === 'small',
          }"
        >
          <ng-content select="[buttonIcon]"></ng-content>
        </i>
      }

      @if (label()) {
        <span
          [ngClass]="{
            'text-2xl': size() === 'medium',
            'text-xl': size() === 'small',
          }"
        >
          {{ label() }}
        </span>
      }
    </button>
  }
}
