<section
  class="grid h-full w-full grid-cols-1 grid-rows-[1fr_auto] gap-y-4 rounded-tl-lg rounded-tr-lg border-l border-border pb-4"
>
  <div class="h-full overflow-hidden">
    <app-sidebar-basket />
  </div>
  @if (basketItemsAmount() > 0) {
    <app-button (handleClick)="openPurchaseConfirmationDialog.set(true)" label="Purchase" />
  }
</section>

@if(openPurchaseConfirmationDialog()) {
  <app-dialog [(visible)]="openPurchaseConfirmationDialog" dialogTitle="Confirm Purchase">
    <div class="flex flex-col items-start justify-center px-8 py-4">
      <h2 class="mb-4 text-left text-2xl font-bold">Confirm Purchase</h2>
      <p class="mb-4 flex flex-col gap-2">
        <span> Are you sure you want to complete this purchase? </span>
        <span>This will deduct {{ totalPrice() }}&nbsp;,- from your balance.</span>
      </p>
      <div class="grid grid-cols-2 gap-x-2 w-full">
        <app-button label="Confirm Purchase" (handleClick)="openPurchaseConfirmationDialog.set(false)" />
        <app-button label="Cancel" variant="subtle" (handleClick)="openPurchaseConfirmationDialog.set(false)" />
      </div>
    </div>
  </app-dialog>
}
