/* Styles for SidebarUserDetailsComponent */
    .custom-css-content-line-left {
  position: relative;
}
.custom-css-content-line-left:before {
    position:absolute; 
    top: 0; 
    left: 0; 
    min-height: 100%; 
    width: 0.125rem;
    background-color: greenyellow;
    content: '';
}

