.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "head"
        "main";
}

.background {
    background: linear-gradient(90deg, rgba(40, 46, 107, 1) 0%, rgba(11, 12, 56, 1) 100%);
}

