@if (valueFormGroup && valueFormControl) {
  <div
    class="mb-1"
    [ngClass]="{
      grid: labelPosition() === 'top' || labelPosition() === 'bottom' || labelPosition() === 'right',
      'grid-rows-[auto_1fr]': labelPosition() === 'top',
      'grid-rows-[1fr_auto]': labelPosition() === 'bottom',
      'grid-cols-[auto_1fr]': labelPosition() === 'right',
      'flex flex-row': labelPosition() === 'left',
      'gap-x-1': labelPosition() === 'right' || labelPosition() === 'left',
      'gap-y-1': labelPosition() === 'top' || labelPosition() === 'bottom',
      'items-center': checkboxAlign() === 'center',
      'items-start': checkboxAlign() === 'top',
    }"
    [formGroup]="valueFormGroup"
  >
    @if (label()) {
      <label
        [ngClass]="{
          'order-last': labelPosition() === 'bottom' || labelPosition() === 'right',
          'text-xs': textSize() === 'small',
          'text-base': textSize() === 'regular',
          'mt-1': labelPosition() === 'left' || labelPosition() === 'right',
        }"
        [for]="controlId"
      >
        {{ label() }}
      </label>
    }

    <label
      class="group relative inline-block h-4 w-4 rounded-full"
      [ngClass]="{
        'mt-0.5': (labelPosition() === 'left' || labelPosition() === 'right') && textSize() === 'medium',
        'mt-1': (labelPosition() === 'left' || labelPosition() === 'right') && textSize() === 'regular',
      }"
    >
      <input
        [id]="controlId"
        class="peer h-4 w-4 cursor-pointer appearance-none rounded-sm border border-gray-500 bg-transparent checked:border-0 checked:bg-prime-green2 checked:group-hover:cursor-pointer checked:group-hover:bg-gray-700 focus:ring-1 focus:ring-blue-700 focus:ring-offset-0"
        [checked]="value"
        [formControlName]="controlName"
        type="checkbox"
      />
      <div
        class="pointer-events-none absolute top-2.5 left-0.5 hidden h-3 w-1 text-white peer-checked:block hover:cursor-pointer"
      >
        <svg
          fill="currentColor"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
          <path
            d="M9 15.59 4.71 11.3 3.3 12.71l5 5c.2.2.45.29.71.29s.51-.1.71-.29l11-11-1.41-1.41L9.02 15.59Z"
          ></path>
        </svg>
      </div>
    </label>
  </div>
}
