<main class="flex min-h-screen flex-col items-center p-8">
  @if (loading()) {
    <p>Loading...</p>
  } @else {
    @if (errorFetching()) {
      <div class="grid w-full grid-rows-auto gap-6">
        <button
          class="flex flex-row gap-4 text-prime-white hover:cursor-pointer hover:text-prime-white/80"
          (click)="goBack()"
        >
          <svg
            fill="currentColor"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
            <path
              d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8"
            ></path>
            <path d="m12.71 8.71-1.42-1.42L6.59 12l4.7 4.71 1.42-1.42-2.3-2.29H17v-2h-6.59z"></path>
          </svg>
          <span>Go back</span>
        </button>
        <p class="text-2xl text-red-500">Error fetching users. Please try again later.</p>
      </div>
    } @else {
      <div class="h-full w-full">
        <div class="grid w-full grid-rows-auto gap-6 items-center">
          <button
            class="flex flex-row gap-4 text-prime-white hover:cursor-pointer hover:text-prime-white/80"
            (click)="goBack()"
          >
            <svg
              fill="currentColor"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
              <path
                d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8"
              ></path>
              <path d="m12.71 8.71-1.42-1.42L6.59 12l4.7 4.71 1.42-1.42-2.3-2.29H17v-2h-6.59z"></path>
            </svg>
            <span>Go back</span>
          </button>
          <h1 class="text-2xl font-bold text-prime-white">Current users</h1>
        </div>
        <pre>{{ users() | json }}</pre>
        <app-table class="text-prime-white" [data]="users()">
          <ng-template #headerTemplate>
            <tr>
              <th class="text-left">ID</th>
              <th class="text-left">Name</th>
              <th class="text-left">Email</th>
              <th class="text-left">Role</th>
              <th class="text-left">Balance</th>
              <th class="text-left">Created date</th>
              <th class="text-left">Updated date</th>
            </tr>
          </ng-template>
          <ng-template #rowTemplate [appTypedTemplate]="typeToken" let-data>
            <tr class="cursor-pointer" [routerLink]="['/users/', data.id]">
              <td>
                {{ data.id }}
              </td>
              <td>
                {{ data.name }}
              </td>
              <td>
                {{ data.email }}
              </td>
              <td>
                {{ data.role }}
              </td>
              <td>{{ data.balance }} {{ data.valuta }}</td>
              <td>
                {{ data.createdAt | date: 'dd. MMM - yyyy' }}
              </td>
              <td>
                {{ data.updatedAt | date: 'dd. MMM - yyyy' }}
              </td>
            </tr>
          </ng-template>
        </app-table>
      </div>
    }
  }
</main>
