<article class="grid-rows-auto grid grid-cols-1 gap-2 p-2 border-t border-text-blue/25">
  <div class="grid-rows-auto grid grid-cols-1 gap-2">
    <p class="flex flex-row justify-between">
      <span>Balance after purchase</span>
      <span
        class="italic"
        [ngClass]="{
          'text-prime-red': currentBalance() - totalPrice() < 0,
          'text-prime-green': currentBalance() - totalPrice() >= 0,
        }"
        >{{ currentBalance() - totalPrice() }}</span
      >
    </p>
    <p class="flex flex-row justify-between text-xl font-bold text-prime-orange">
      <span>Subtotal</span> <span>{{ totalPrice() }}</span>
    </p>
  </div>
  <div class="grid grid-cols-1 grid-rows-auto gap-2">
    <button class="h-12 w-full rounded-md bg-prime-green2 text-white">Purchase</button>
    <button class="h-12 w-full rounded-md bg-prime-red text-white">Clear Basket</button>
  </div>
</article>
