<div class="background h-screen flex flex-col py-2">
  <div class="grid grid-cols-[1fr_var(--spacing-sidebar)] items-start gap-4">
    <div>
      <app-filter-bar (currentFilterOutput)="collectionService.currentFilter.set($event)" />
    </div>
    <app-sidebar-user-details />
  </div>
  <div class="grid w-full h-full grid-cols-[1fr_auto] overflow-hidden">
    <div
      class="overflow-hidden transition-all transition-discrete duration-300 ease-in-out"
    >
      <app-collection />
    </div>
    <div
      class="sticky top-0 h-full overflow-hidden transition-all transition-discrete duration-300 ease-in-out"
      [ngClass]="{
        'ml-0 w-0': !isItemsInBasket(),
        'col-start-2 row-start-1 ml-4 w-sidebar': isItemsInBasket(),
      }"
    >
      <app-sidebar />
    </div>
  </div>
</div>
