<div class="flex h-dvh flex-col items-center justify-center p-6">
  <section class="flex w-full max-w-xs flex-col items-center gap-6">
    <!-- Logo -->
    <div class="w-48">
      <img
        class="h-auto w-full object-contain"
        alt="Hundebassinet Logo"
        src="assets/hundebassinet_logo.webp"
      />
    </div>

    <!-- Title -->
    <h1 class="text-2xl font-bold text-text-primary">Sign In</h1>

    <!-- Login form -->
    <form class="flex w-full flex-col gap-4" [formGroup]="loginForm">
      <app-input-field
        autofocus
        formControlName="email"
        label="Email"
        ngDefaultControl
        placeholder="Enter your email"
        textOnDark
        type="text"
      />
      <app-input-field
        formControlName="password"
        label="Password"
        ngDefaultControl
        placeholder="Enter your password"
        textOnDark
        type="password"
      />
    </form>

    @if (loginError()) {
      <p class="text-sm text-error">{{ loginError() }}</p>
    }

    <app-button class="w-full" [loading]="loginLoader()" (handleClick)="logIn()" label="Sign In" />
  </section>
</div>
