<div class="flex w-full flex-row items-stretch">
  <button
    class="flex items-center justify-center rounded-tl-md rounded-bl-md bg-surface-overlay p-1 text-text-primary"
    [ngClass]="{
      'pointer-events-none cursor-default opacity-20': currentCount() < 2,
    }"
    [disabled]="currentCount() < 2"
    (click)="onCountDown()"
  >
    <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <!--Boxicons v3.0.6 https://boxicons.com | License  https://docs.boxicons.com/free-->
      <path d="M3 11h18v2H3z"></path>
    </svg>
  </button>
  <span class="text-md flex w-full items-center justify-center bg-surface-raised px-4 font-semibold text-text-primary font-numeric">
    {{ currentCount() }}
  </span>
  <button
    class="flex items-center justify-center rounded-tr-md rounded-br-md bg-surface-overlay p-1 text-text-primary"
    [ngClass]="{
      'pointer-events-none cursor-default opacity-20': currentCount() === limit() && limit() !== null,
    }"
    [disabled]="currentCount() === limit() && limit() !== null"
    (click)="onCountUp()"
  >
    <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <!--Boxicons v3.0.6 https://boxicons.com | License  https://docs.boxicons.com/free-->
      <path d="M3 13h8v8h2v-8h8v-2h-8V3h-2v8H3z"></path>
    </svg>
  </button>
</div>
