<div class="flex w-full flex-col gap-4 rounded-2xl border border-gray-200 bg-white/90 p-4 text-text-on-light">
  <div class="grid grid-cols-[1fr_auto] gap-x-4">
    <div>
      <p class="font-heading text-xl">User Details</p>
      <hr class="mt-2 mb-4 border border-border bg-text-on-light" />
      <form
        class="grid-rows-auto grid grid-cols-1 gap-4"
        [formGroup]="userDetailsForm"
        (submit)="saveUserDetails()"
      >
        <app-editable-input-field
          formControlName="name"
          label="Name"
          ngDefaultControl
          placeholder="Enter name"
        />
        <app-editable-input-field
          formControlName="email"
          label="Email"
          ngDefaultControl
          placeholder="Enter email"
        />
        @if (currentUser()?.role === 'admin' || currentUser()?.role === 'sudo-admin') {
          <app-dropdown
            [options]="roleListComputedValue()"
            formControlName="role"
            label="Role"
            ngDefaultControl
            placeholder="Select a role"
          />
          <div class="grid grid-cols-[1fr_auto] gap-x-2">
            <app-editable-input-field
              class="font-numeric"
              formControlName="balance"
              label="Balance"
              ngDefaultControl
              placeholder="Change balance for user"
            />
            <app-dropdown
              [options]="currencyOptions"
              formControlName="currency"
              label="Prefered currency"
              ngDefaultControl
              placeholder="Select a prefered currency"
            />
          </div>
        } @else {
          <app-dropdown
            [options]="currencyOptions"
            formControlName="currency"
            label="Prefered currency"
            ngDefaultControl
            placeholder="Select a prefered currency"
          />
        }
        @if (changesHasBeenMade()) {
          <app-button label="save changes" type="submit" />
        }
        @if (showUpdateSuccess()) {
          <p class="flex items-center gap-1 text-success">
            <span>User was updated successfully</span>
            <span>
              <svg
                fill="currentColor"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 15.59 4.71 11.3 3.3 12.71l5 5c.2.2.45.29.71.29s.51-.1.71-.29l11-11-1.41-1.41L9.02 15.59Z"
                ></path>
              </svg>
            </span>
          </p>
        }
      </form>
    </div>
    <div>
      <p class="text-xl">Profile Image</p>
      <hr class="mt-2 mb-4 border border-border bg-text-on-light" />
      <div class="group relative w-fit rounded-2xl border-2 border-gray-200">
        @if (!user().avatarUrl) {
          <div class="flex aspect-4/3 h-full w-72 items-center justify-center bg-amber-950/10">
            <span class="font-extrabold">[NO IMAGE PROVIDED]</span>
          </div>
        } @else {
          <img
            class="col-start-1 row-start-1 h-full w-full max-w-72 rounded-2xl object-cover"
            [src]="user().avatarUrl"
            alt="User profile image"
          />
        }
        <input
          #fileInput
          class="hidden"
          (change)="onFileSelected($event)"
          accept="image/jpeg,image/png"
          type="file"
        />
        <button
          class="absolute bottom-2 left-1/2 flex h-fit w-fit -translate-x-1/2 -translate-y-1/2 cursor-pointer flex-row items-center rounded-full border border-gray-300 bg-white/90 p-2 text-text-on-light opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 hover:pointer-events-auto"
          (click)="fileInput.click()"
        >
          <svg
            fill="currentColor"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
            <path d="M4 4h16v2H4zm8 4-5 6h4v7h2v-7h4z"></path>
          </svg>
          <span class="ml-2 whitespace-nowrap">Change image</span>
        </button>
      </div>
    </div>
  </div>
  @if (currentUser()?.id === user().id || currentUser()?.role === 'sudo-admin') {
    <div>
      @if (!changePasswordSignal()) {
        <app-button (handleClick)="changePasswordSignal.set(true)" label="Change Password" variant="text" />
      } @else {
        <div class="mt-4 flex flex-col gap-2">
          <p class="text-xl text-text-on-light">Change Password</p>
          <form class="flex flex-col gap-4" [formGroup]="passwordForm" (submit)="changePassword()">
            @if (changePasswordSignalError() === 'incorrectCurrent') {
              <p class="text-error">Incorrect current password.</p>
            }
            @if (changePasswordSignalError() === 'errorFromServer') {
              <p class="text-error">Error from server, please try again</p>
            }
            <app-input-field
              formControlName="currentPassword"
              label="Current Password"
              ngDefaultControl
              placeholder="Enter current password"
              tabindex="1"
              type="password"
            />
            @if (currentUser()?.role === 'sudo-admin') {
              <app-checkbox
                checkboxAlign="center"
                formControlName="overwriteCurrentPassword"
                label="Overwrite current password check?"
                labelPosition="right"
                ngDefaultControl
              />
            }
            <div class="grid-rows-auto grid w-full grid-cols-1" formGroupName="passwords">
              <app-input-field
                class="transition-all duration-200 ease-in-out"
                [ngClass]="{
                  hidden:
                    passwordForm.controls.currentPassword.value === '' &&
                    !passwordForm.controls.overwriteCurrentPassword.value,
                }"
                formControlName="newPassword"
                label="New Password"
                ngDefaultControl
                placeholder="Enter new password"
                tabindex="2"
                type="password"
                validationCondition="minlength"
                validationExplainer="Passwords need to be at least 8 characters long"
              />
              <app-input-field
                class="transition-all duration-200 ease-in-out"
                [ngClass]="{
                  hidden: passwordForm.controls.passwords.controls['newPassword'].value === '',
                }"
                formControlName="confirmNewPassword"
                label="Confirm New Password"
                ngDefaultControl
                placeholder="Confirm new password"
                tabindex="3"
                type="password"
                validationCondition="fieldsMismatch"
                validationExplainer="Passwords does not match"
              />
            </div>
            <app-button [loading]="changePasswordLoading()" label="Update Password" type="submit" />
            @if (changePasswordSuccess()) {
              <p class="flex items-center gap-1 text-success">
                <span>Password was updated successfully</span>
                <span>
                  <svg
                    fill="currentColor"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9 15.59 4.71 11.3 3.3 12.71l5 5c.2.2.45.29.71.29s.51-.1.71-.29l11-11-1.41-1.41L9.02 15.59Z"
                    ></path>
                  </svg>
                </span>
              </p>
            }
            <app-button (handleClick)="changePasswordSignal.set(false)" label="Cancel" variant="subtle" />
          </form>
        </div>
      }
    </div>
  }
</div>
